.add-books {
    margin-top: 5px;
}

nav {
    background-color: rgb(64, 127, 127);
}

th {
    text-align: center;
}

.table-header {
    background-color: rgb(5, 78, 78);
    color: azure;
}

.table-td {
    background-color: rgb(64, 127, 127);
}

.card-header {
    background-color: rgba(232, 219, 191, 0.834);
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    color: rgba(69, 152, 152, 0.693);
}

.card-body {
    background-color: rgb(251, 251, 246);
}

body {
    background-attachment: fixed;
    background-image: url('https://media.npr.org/assets/img/2022/12/22/gettyimages-1245203807-1536x1029_wide-9982607ca51f99999656d993bf5511d42533c0f2-s1100-c50.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(8, 11, 12, 0.451);
}

#myEditModal {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: rgba(69, 152, 152, 0.573);
}

.addBookBtn  {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: rgba(69, 152, 152, 0.573);
}